$color-primary: #4441d6;
$color-seconday: #5d3fd3;
$color-blueLike: #1e90ff;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-white: #fff;
$color-black: #000000fe;
$font-primary: "Source Sans Pro";
