.reviews {
  background-image: linear-gradient(to right, $color-primary, $color-seconday);
  grid-column: full-start/ full-end;
  display: grid;
  // grid-template-columns: repeat(8, 1fr);
}
.review {
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
    margin-right: 4rem;
    padding: 0 6rem;
    color: $color-white;
  }
  &__heading {
    font-size: 3rem;
    margin-left: 4rem;
    margin-bottom: 1.5rem;
    span {
      display: block;
    }
  }
  &__textall {
    font-size: 1.7rem;
  }
  &__usertext::before {
    content: '”';
    display: inline-block;
    color: $color-white;
    font-size: 10.9rem;
    font-weight: 700;
    line-height: .4;
  }
  &__usertext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $color-white;
    padding-right: 4rem;
  }
  &__usertextall {
    font-size: 1.7rem;
    margin-bottom: 3rem;
  }
  &__userimg {
    width: 6rem;
    height: 6rem;
    border: 1px solid $color-white;
    border-radius: 5rem;
    margin-bottom: 0.5rem;
  }
  &__user--name {
    font-size: 1.4rem;
  }
}
