*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 95vh min-content 25vw min-content 30vw repeat(
      3,
      min-content
    );
  grid-template-columns:
    [full-start]minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end]minmax(6rem, 1fr) [full-end];
}
